APP_NAME="Kaio Felps"
APP_URL="localhost:3000"
NODE_ENV="development"

BACKEND_PORT=3001
BACKEND_DOMAIN=localhost
# http | https
BACKEND_SCHEME=http
BACKEND_URL="${BACKEND_SCHEME}://${BACKEND_DOMAIN}:${BACKEND_PORT}"

# Env variables for the back-end server
POSTGRES_DB="main"
POSTGRES_USER="userci"
POSTGRES_PASSWORD="docker"
POSTGRES_PORT="5432"
POSTGRES_DOMAIN="localhost"

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DOMAIN}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
DIRECT_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DOMAIN}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
DOMAIN="${BACKEND_DOMAIN}"
ROOTUSER_PASSWORD="testsci1234"
ROOTUSER_EMAIL="tests@ci.com"
ROOTUSER_NAME="tests"
RUN_DB_SEED=false

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

NEXT_PUBLIC_APPLICATION_URL=${APP_URL}
NEXT_PUBLIC_APPLICATION_NAME=${APP_NAME}
NEXT_PUBLIC_SERVER_URL=${BACKEND_URL}
